@model HospitalApp.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h3 class="jumbotron p-3 font-calibri text-center">تعديل الحساب</h3>

<a asp-action="Index" class="btn btn-sm btn-outline-secondary">الرجوع للقائمة الرئيسية</a>
<div class="row d-flex justify-content-center font-calibri">
    <div class="col-md-5 shadow py-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-right">
                <label asp-for="Name" class="control-label font-weight-bold">اسم الحساب</label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-outline-primary btn-block btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
