@{
    ViewData["Title"] = "Home Page";
}


<div class="container bg-light p-5">
    <div class="col d-flex justify-content-sm-around">
        <div class="book rounded-lg d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-file-invoice-dollar text-white mb-3" style="font-size:40px;"></i>
            <h4 class="font-weight-bold text-white font-weight-bold" style="font-family:Calibri;">الحسابات العامـــــة</h4>
        </div>
    </div>
</div>